header{
    background-color: powderblue;


}

body {

    background-color: bisque;
}

footer{
   
    background-color: powderblue;
}



table {
    margin-left: 30px;
}

button {
    margin-left: 10px;
    border: 10px;
    padding: 10px;
    width: 60px;
    height: 30px;
    background-color: rgb(183, 209, 212);


}

button:hover{
    background-color: rgb(110, 99, 85);
}


/* ---------------------------------- */
b{
    background-color: rgb(177, 169, 159);
    padding: 10px 20px 10px 20px;

    
}





